@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;  
}
.cart-button{
    border: none;
    background: transparent;
    color: #0099CC;
}
.navbar-container{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: large;   
}
#navbar{
    width: 100%;
    display: flex ;
    justify-content: space-between;
}
.greeting{
    display: flex;
    justify-content: center;
    padding-top: 40vh;
    font-size: x-large;
    font-weight: 700;
}
